{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="row justify-content-center mt-5">
  <div class="col-md-4">

    <h2 class="text-center mb-4">Login</h2>

    <form method="POST" class="card p-4 shadow">
      {% csrf_token %}

      {% for field in form %}
        <div class="mb-3">
          {{ field.label_tag }}

          {% if field.name == "password" %}
            {{ field }}

            <div class="form-check text-start mt-2">
              <input type="checkbox" class="form-check-input" id="showPasswordCheck" onclick="togglePassword()">
              <label class="form-check-label" for="showPasswordCheck">Show Password</label>
            </div>
          {% else %}
            {{ field }}
          {% endif %}

          {% if field.errors %}
            <div class="text-danger">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>

  </div>
</div>

<script>
  function togglePassword() {
    const passwordInput = document.getElementById("id_password");
    const checkbox = document.getElementById("showPasswordCheck");
  
    if (checkbox.checked) {
      passwordInput.type = "text";
    } else {
      passwordInput.type = "password";
    }
  }
  </script>

{% endblock %}